.register{position:relative;left:90%;width:30px;}
.police{width:300px;position:relative;left:25%;}
.tpolice{width:300px;position:absolute;left:45%;bottom:46%;}
.police .card .card-body .md-form{width:250px;}